<button mat-raised-button (click)="openTurno()"> Agregar Turno </button>

<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Juan">
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isEmpty || isFiltered">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isEmpty && !isFiltered">
      No hay turnos registrados
    </div>
    <div class="example-rate-limit-reached" *ngIf="isEmpty && isFiltered">
      No hay datos que coincidan con la búsqueda
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="hc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Historia Clínica</th>
        <td mat-cell *matCellDef="let row">{{row.hc}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
        <td mat-cell *matCellDef="let row">{{row.lastname}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Creado
        </th>
        <td mat-cell *matCellDef="let row">{{row.date | date}}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tiempo</th>
        <td mat-cell *matCellDef="let row">{{row.time}}</td>
      </ng-container>

      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lugar</th>
        <td mat-cell *matCellDef="let row">{{row.place}}</td>
      </ng-container>

      <ng-container matColumnDef='actions'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-cell mat-icon-button aria-label="Imprimir" (click)="printZpl(row)">
            <mat-icon>print</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>
